/**  初始化代码  ***/

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}

body {
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, STHeiTi, sans-serif, "Arial Narrow", HELVETICA;
    background: #fff;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #2d374b;
    text-decoration: none;
}

a:hover {
    color: #cd0200;
    text-decoration: underline
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

.zoom {
    zoom: 1;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/** banner部分  **/



/**********   Banner头部部分   ***************/

.banner .banner_header {
    height: 85px;
    position: relative;
}

.banner .banner_header .banner_left {
    float: left;
    line-height: 85px;
}

.banner .banner_header .banner_left .name {
    vertical-align: middle;
    font-weight: 400;
    color: #f8f8f8;
    font-size: 28px;
}

.banner .banner_header .banner_right {
    position: absolute;
    right: 0;
}

.banner .banner_header .banner_right ul li {
    padding: 12px 0;
    float: left;
    position: relative;
}

.banner .banner_header .banner_right ul li a {
    font-size: 16px;
    color: #fff;
    line-height: 48px;
    display: block;
    position: relative;
}

.banner .banner_header .banner_right ul>li+li {
    margin-left: 70px;
}

.banner .banner_header .banner_right ul>li+li::after {
    content: "";
    position: absolute;
    left: -32px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    border-left: 1px solid #EDEDED;
}


/**********   Banner头部底部   ***************/

.banner .banner_footer {
    padding-top: 47px;
}

.banner .banner_footer .footer-left {
    width: 547px;
    float: left;
    position: relative;
}

.banner .banner_footer .footer-left .name {
    font-size: 46px;
    font-weight: 600;
    color: white;
    position: relative;
    margin-bottom: 17px;
}


.banner .banner_footer .footer-left .introduce {
    font-size: 21px;
    font-weight: 400;
    color: white;
    line-height: 48px;
    margin-bottom: 40px;
}

.banner .banner_footer .footer-left .DownloadAddress:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 500%;
    left: 0%;
    top: 0%;
    margin-left: -50%;
    margin-top: -50%;
    border-radius: 50%;
    background: rgba(0, 0, 0, .1);
    animation: spread 1.5s infinite both;
    -webkit-animation: spread 1.5s infinite both;
    -moz-animation: spread 1.5s infinite both;
    -o-animation: spread 1.5s infinite both;
}

.banner .banner_footer .footer-left .DownloadAddress .iconfont {
    font-size: 24px;
    margin: 0 20px 0 19px;
    vertical-align: middle;
}

.banner .banner_footer .footer-left .DownloadAddress {
    display: block;
    width: 170px;
    height: 45px;
    background: #ffffff;
    border-radius: 2px;
    color: #007cff;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
}

.banner .banner_footer .footer-left .DownloadAddress:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transform: translateX(-0%) translateY(-0%) scale(1.14);
}

.banner .banner_footer .footer-left .version-number p {
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 24px;
}

.banner .banner_footer .footer-right {
    float: right;
    margin-right: 0px;
    margin-top: 0px;
}

.banner .banner_footer .footer-right img {
    width: 600px;
}


/***    模板二     *****/

.swap2 {
    height: 280px;
}

.swap2 .transformation {
    float: left;
    width: 100%;
    padding: 20px 0px;
}

.swap2 .transformation li {
    float: left;
    width: 200px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
}

.swap2 .transformation li:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transform: translateX(-0%) translateY(-0%) scale(1.14);
}

.swap2 .transformation li .picture {
    float: left;
    height: 80px;
    width: 100%;
    text-align: center;
    line-height: 80px;
}

.swap2 .transformation li .cont {
    float: left;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 16px;
}


/**   模板三   **/


.swap3 .title-intr {
    height: 60px;
    line-height: 60px;
    padding: 20px 0px;
    width: 100%;
    text-align: center;
    font-size: 34px;
    color: #666666;
}

.swap3 .introduce-center {
    cursor: pointer;
    position: relative;
    max-width: 100%;
    text-align: left;
}

.swap3 .introduce-text {
    float: left;
    width: 100%;
    margin-top: 80px;
    font-size: 0;
}

.swap3 .introduce-img {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.swap3 .describe-text {
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.swap3 .describe-center {
    text-align: left;
    padding: 45px 0;
}

.swap3 .describe-center h3 {
    font-size: 28px;
    color: #373737;
    line-height: 1.5;
    font-weight: 500;
}

.swap3 .describe-center h4 {
    font-size: 18px;
    color: #6F6F6F;
    line-height: 1.5;
    margin-top: 10px;
    font-weight: 500;
}

.swap3 .describe-center p {
    font-size: 14px;
    color: #6F6F6F;
    line-height: 1.8;
    margin-top: 10px;
    margin-bottom: 35px;
}

.swap3 .describe-center .download {
    display: inline-block;
    width: 200px;
    text-align: center;
    font-size: 0;
    background-color: #0089FF;
    border-radius: 4px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
}

.swap3 .describe-center .download:hover {
    background-color: #E02E5C;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transform: translateX(-0%) translateY(-0%) scale(1.14);
}





/**    最底部     **/

.footer {
    float: left;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}

@keyframes spread {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes spread {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes spread {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-o-keyframes spread {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pronamei {
    0% {
        top: -5px;
    }
    50% {
        top: 5px;
    }
    100% {
        top: -5px;
    }
}

@-webkit-keyframes pronamei {
    0% {
        top: -5px;
    }
    50% {
        top: 5px;
    }
    100% {
        top: -5px;
    }
}